@import "mixin";
@import "vars";
body{
  // display: none;
  // margin: 0;
   
}
.tabs-main,
  {
	&__btn {
		&:hover {
			cursor: pointer;
		}

	}

	&__content {
		&.active {
			display: block;
		}

		display: none;
	}
}

 

.tabs-main{
  padding-top: 20px;
  &__caption--main{
    display: flex;
    margin-left: -16px;
    margin-right: -16px;
    flex-wrap: wrap;
    padding-bottom: 20px;
  }
  &__btn--main{
    margin-left: 16px;
    margin-right: 16px;
    // display: inline-block;
    font-size: 30px;
    border-bottom: 1px solid transparent;
    line-height: 1;
    margin-bottom: 10px;
    cursor: pointer;
    letter-spacing: 0.6px;
    @include mt;
    &.active,
    &:hover{
        border-bottom: 1px solid  #97cae1;
    }
    &:first-child{

    }
  }
  table{
    width: 100%;
    color: #594731;
  }
  th{
    font-size: 20px;
    line-height: 1;
    // Text style for "Услуга"
    letter-spacing: 0.4px;
    font-weight: normal;
    border-bottom: 2px solid #97cae1;
    padding-bottom: 8px;
    color: #594731;
  }
  td{
    border-bottom: 1px solid #c8c8c8;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 8px;
    font-size: 18px;
    letter-spacing: 0.36px;
    color: #594731;
  }
}

.tabs{
  &__caption{
    @media (min-width: 992px) {

      display: flex;
    }
    display: none;
    margin-left: -10px;
    margin-right: -10px;
    flex-wrap: wrap;
    padding-bottom: 20px;
    max-width: 940px;
    margin-bottom: 20px;
  }
  .resp-accordion,
  .tabs__content-toggle,
  &__btn{
    border-radius: 10px;
    border: 2px solid #dedb8a;
    background-color: #ed9b00;
    margin-bottom: 10px;
    cursor: pointer;
    letter-spacing: 0.6px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    // Text style for "iphone 4/4"
    letter-spacing: 0.4px;
    color: #ffffff;
    @include mt;
    text-align: center;
    @media (min-width: 992px) {
      
      width: calc(100% / 5 - 20px);
      margin-left: 10px;
      margin-right: 10px;
    }
 
    width: 100%;
    // @media (min-width: 576px) {

    //   // width: calc(100% / 5 - 20px);
    //   width: calc(100% / 3 - 20px);
    // }
    // width: calc(100% / 2 - 20px);


    padding: 9px 5px;
    &.resp-tab-active,
    &.active,
    &:hover{
      border-radius: 10px;
      border: 2px solid #dedb8a;
      background-color: #97cae1;
    }
    &:first-child{

    }
  }

  .tabs__content-toggle{
    margin-left: 0;
    margin-right: 0;
    @media (min-width: 768px){
    display: none;
    }
  }
  th{
    span{
      float: none !important;
      font-size: inherit;
      @media (max-width: 576px) {
        display: block;
        font-size: 12px;
      }
    }
  }
}
.tbody-price tr:nth-child(n + 7){
      display: none;
    }

    .link-more-js{
      padding-top: 10px;
      padding-bottom: 50px;
      span{
        float: none !important;
        color: #227499; 
        font-size: 25px;
        font-weight: 400;
        line-height: 0.8;
        // Text style for "Показать п"
        letter-spacing: 0.5px;
        border-bottom: 1px dashed;
        cursor: pointer;
        @include mt;
        &:hover{
          border-color: transparent;
        }
      }
   
    }
 
    .tabs__content-inner{
      @media (min-width: 768px){
        // display: block !important;
      }
      // display: none;
    }
              @media (max-width: 768px){
                .price--tabs .scrollflow{
                  filter: opacity(1) !important;
                  transform: translate3d(0px, 0px, 0px) scale(1) !important;
                }
              }